body {
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
}
.left {
    background-color: #333333
}

.advance, .proficient, .intermediate {
    color: #333333;
}

@media (max-width: 576px) {
    .email a, .email i, .phone a, .phone i, .address a, .address i, .expertise div, .skills div, .languages div, .socials a {
        font-size: 0.6rem;
    }
    .fname {
        letter-spacing: 0.594rem;
    }
    .lname {
        letter-spacing: 1.25rem;
    }
}

.right, .work {
    border: 4px solid #333333
}

.fname {
    letter-spacing: 9.5px;
}
.lname {
    letter-spacing: 20px;
}
.muted {
    letter-spacing: 3.8px;
}
.points {
    list-style-type: '\2014';
    font-size: 0.8rem;
}